<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2>Роль не была сохранена, так как форма содержит ошибки.</h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Название' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit 'Подтвердить' %>
  </div>
<% end %>
